@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.spinner {
  height: 100vh;
}

.spinner::before {
  animation: 0.5s linear infinite spinner;
  border: solid 3px #eee;
  border-bottom-color: #134e13;
  border-radius: 50%;
  content: '';
  height: 40px;
  left: 50%;
  opacity: inherit;
  position: absolute;
  top: 50%;
  width: 40px;
}
